<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="honor.user.dao.UserDao">

	<resultMap type="user" id="userMap">
        <id property="id" column="id"/>
        <result property="loginName" column="login_name"/>
        <result property="chinaName" column="user_name"/>
        <result property="password" column="login_password"/>
    </resultMap>

    <select id="getUserById" parameterType="String" resultMap="userMap">
        select * from user where id = #{id}
    </select>
    <select id="getUserByNameAndPass"  resultMap="userMap">
        select * from user where loginName = #{0} and password= #{1}
    </select>
</mapper>